*{
    text-align: center;
}
#root{
  width: 100%;
  background-color:rgba(0,0,0,.75);
}
html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  background: url('./images/1.jpg') center no-repeat;
  background-size: cover;
}
.cover-container{
  max-width: 42em;
}
.perfil{
  max-width: 10px;
}